{{- $diagram := .Inner | safeJS -}}
{{- $format := .Get "format" | default "svg" -}}
{{- $id := printf "plantuml-%d" now.UnixNano -}}

<div id="{{ $id }}"></div>

<script>
(async function() {
  const diagram = `{{ $diagram }}`;

  const res = await fetch("https://kroki.io/plantuml/{{ $format }}", {
    method: "POST",
    headers: { "Content-Type": "text/plain" },
    body: diagram
  });

  const output = await res.text();
  document.getElementById("{{ $id }}").innerHTML = output;
})();
</script>
